---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        
        <!--<a href="./directory/yourfile.pdf" download="Rizos Konstantinos CV">Download CV as pdf</a>-->
      <body id="body">
        {{ content }}
      <button id="button">Download CV as pdf</button>

      <script src="html2pdf.bundle.min.js"></script>
      <script>
      const btn = document.getElementById("button");

      btn.addEventListener("click", function(){
      var element = document.getElementById('body');
      html2pdf().from(element).save('filename.pdf');
      });
      </script>
      </body>
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

